---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Tengo experiencia trabajando con tecnologías como Tailwind CSS, 
			Angular, Astro, MySQL, CSS y Java, que forman la base de la 
			mayoría de mis proyectos. Además, tengo conocimientos en 
			Outsystems, Python y Kotlin, lo que me permite adaptarme a 
			diferentes entornos de desarrollo cuando es necesario.
		</p>
	</div>
</section>
