---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="joseLuisGarcia">
	<div class="terminal__skills">
		<h2>Mis habilidades</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/tailwind.svg"
				color="#00A3FF"
				name="Tailwind"
			/>
			<TerminalIcon
				src="/assets/angular.svg"
				color="#FF4747"
				name="Angular"
			/>
			<TerminalIcon
				src="/assets/Astro.svg"
				color="#812cd7"
				name="Astro"
			/>
			<TerminalIcon src="/assets/mysql.svg" color="#f59315" name="Mysql" />
			<TerminalIcon src="/assets/css.svg" color="#00A3FF" name="CSS" />
			<TerminalIcon src="/assets/typescript.svg" color="#00A3FF" name="TypeScript" />
			
		</div>
	</div>
</Terminal>
